.advantages {
    padding-top: 94px;
}
.advantages-list{
    display: flex;
    }
.advantages-etem {
    width: 270px;

    &:not(:last-child){
        margin-right: 30px;
    }
    &::before {
        margin-bottom: 30px;
        display: block;
        height: 120px;
        content: "";
        background-repeat: no-repeat;
        background-position: center;
        background-color: $backgrnd-gray;
    }
    &:nth-child(1)::before {
        background-image: url(../images/icon/antenna.svg); 
    }
    &:nth-child(2)::before {
        background-image: url(../images/icon/clock.svg); 
    }
    &:nth-child(3)::before {
        background-image: url(../images/icon/diagram.svg); 
    }
    &:nth-child(4)::before {
        background-image: url(../images/icon/astronaut.svg); 
    }
}

.advantages-etem-discription {
    color: var(--gray);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.advantages-etem-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-black;
    margin-bottom: 10px;
}
