body {
    font-family: Roboto, sans-serif;   
    box-sizing: border-box
}
a {
    text-decoration: none;
}
ul {
    list-style: none
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
    display: block
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0px auto;
}
h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    margin-top: 0;
}
h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--black);
}
h3 {
    margin: 0;
}
