.head { 
    padding: 200px 15px; 
    margin: 0 auto;
    max-width: 1600px;
    max-height: 600px;

    background: $backgrd-black;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), 
    url(../images/backgrd-inhead.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $main-white;
    margin-top: 0;
}
.modul-butoon {
    font-family: inherit;
    color: $main-white;
    background: $main-blue;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    border: 0;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    letter-spacing: 0.06em;
}

