$main-blue: #2196F3;
$main-gray: #757575;
$main-black: #212121;
$main-white: #FFFFFF;
$backgrd-black: #2F303A;
$backgrnd-gray: #F5F4FA;
$links-normal: #AFB1B8;
$border-aftehead: #ECECEC;
$gray-transparent: rgba(233, 233, 233, 0.6);
$button-shadow: rgba(0, 0, 0, 0.15);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1); 